.parent-container-1 {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
}
.background-container {
  background-image: url("laptop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.title {
  font-weight: 900;
  color: #a50e1e;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 5px;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica", sans-serif;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: auto;
  font-weight: 400;
  font-size: 15px;
  padding-top: 5px;
}

body {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: white;
}

li {
  padding: 12px;
}

.language {
  margin-right: 30px;
  margin-top: 10px;
  margin-left: 23%;
  color: white;
}

button {
  border-radius: 100px;
  height: 40px;
  background: transparent;
  margin: 0px 10px 0 10px;
  padding: 0 20px;
  font-size: 14px;
  border-style: solid;
  text-align: center;
  border-color: white;
  background-color: black;
  color: white;
}

.parent-container-2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  height: 200px;
  margin-top: 300px;
}

.top {
  text-align: center;
  font-size: 55px;
  color: white;
  font-weight: 100;
}

p {
  font-size: 30px;
  font-style: italic;
  color: white;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 150;
}

.bold {
  font-weight: 500;
}

.start-here {
  border-radius: 100px;
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.29);
  background-image: linear-gradient(to right, #a51300, #bb1600);
  border: solid 1px #ffffff;
  width: 200px;
  text-align: center;
  padding: 12px;
  font-family: "Roboto";
}

.menu {
  display: none;
}

/* Themes Page*/

.top-container {
  background-color: white;
  height: 100vh;
}

.themes-container {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-size: cover;
}
.themes-paragraph {
  color: black;
  display: block;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  color: #383838;
  flex-wrap: wrap;
  font-style: normal;
  width: 65%;
  margin: auto;
  padding-top: 20px;
}

.themes-header {
  text-align: center;
  color: black;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 1.7px;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-top: 45px;
}

.divider {
  align-self: center;
  width: 70px;
  height: 3px;
  background-color: #bb1600;
}

.slider {
  margin: auto;
  padding-top: 20px;
}

.why-container {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
  height: 10vh;
  width: 100%;
}

.why {
  text-align: center;
  color: black;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 1.7px;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  padding-bottom: 5px;
  padding-top: 20px;
}

.why-paragraph {
  color: black;
  display: block;
  text-align: left;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  color: #383838;
  flex-wrap: wrap;
  font-style: normal;
  width: 35%;
  margin: auto;
  justify-content: center;
}

.why-body {
  display: flex;
  flex-direction: row;
  background-color: #f4f5f7;
  padding-top: 20px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  color: #383838;
}

.start-here-two {
  border-radius: 100px;
  background-image: linear-gradient(to right, #a51300, #bb1600);
  width: 200px;
  text-align: center;
  padding: 10px;
  font-family: "Roboto";
  text-align: center;
}

.mobile-ready-container {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  background-color: white;
  height: 100vh;
  width: 100%;
}

.mobile-ready-paragraph {
  color: black;
  display: block;
  text-align: right;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  color: #383838;
  flex-wrap: wrap;
  font-style: normal;
  justify-content: left;
  margin-left: 25px;
  width: 45%;
  padding-right: 25px;
}

.mobile-ready-header {
  color: black;
  font-size: 34px;
  line-height: 1.3;
  font-weight: 100;
  letter-spacing: 1.7px;
  color: #444444;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-top: 45px;
  margin-left: 3%;
  width: 50%;
}

.divider-2 {
  width: 70px;
  height: 3px;
  background-color: #bb1600;
  margin-left: 25%;
}

.mobile-photo {
  width: 95%;
}

.features-container {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
  align-content: center;
}

.box-headers {
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 1.5px;
  text-align: center;
  color: #444444;
  margin-top: 20px;
}

.features-header {
  text-align: center;
  color: black;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 1.7px;
  color: #444444;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 10vh;
  width: 100%;
}

.features-paragraph {
  color: black;
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  color: #383838;
  flex-wrap: wrap;
  font-style: normal;
  margin-top: 15px;
}

.box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-optimized {
  width: 25%;
  height: 45%;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.stunning-themes {
  width: 25%;
  height: 45%;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.online-store {
  width: 25%;
  height: 45%;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.customer-support {
  width: 25%;
  height: 45%;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.box-paragraph {
  color: black;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  color: #383838;
  font-style: normal;
  justify-content: center;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.start-here-three {
  border-radius: 100px;
  background-image: linear-gradient(to right, #a51300, #bb1600);
  width: 200px;
  text-align: center;
  padding: 10px;
  font-family: "Roboto";
  text-align: center;
  margin: auto;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  .parent-container-2 {
    flex-direction: column;
  }

  .nav-list {
    display: none;
  }

  .language {
    display: none;
  }

  .top {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }

  .menu {
    display: contents;
    fill: white;
  }

  .parent-container-1 {
    width: 100%;
    justify-content: center;
  }

  .title {
    padding-right: 57%;
  }
}
